<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body>

    <header>
        <% include ./header %>
    </header>

    <center><div class="container-fluid data-container">
			<div class="col-md-4">
				<div id="county" class="datalabel"></div>
				<div id="sub-county" class="sub-datalabel">County</div>
			</div>
			<div class="col-md-4">
				<div id="stats" class="datalabel" class="text-center"></div>
				<div class="sub-datalabel">Your progress</div>
			</div>
			<div class="col-md-4">
				<a class="text-center datalabel btn-toggle">
					Map Controls<span class="caret"></span></a>
			</div>
	</div></center>

	<center><div class="container-fluid sub-data-container">
		<div class="row collapse-group">
			<div class="col-md-4 collapse">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="highway-checkbox"> Interstate Highways
					</label>
				</div>
			</div>
			<div class="col-md-4 collapse">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="city-checkbox"> City Labels
					</label>
				</div>
			</div>
			<div class="col-md-4 collapse">
				<button type="button" id="reset-button" class="btn btn-primary btn-xs" style="margin-top:10px"> Reset Zoom </button>	
			</div>
		</div>

	</div></center>


	

		<div class="jumbotron">
			<div class="container">
				<center><div id="canvas"></div></center>
			</div>
		</div>

		<div id="list"></div>

		<script src="/js/d3.v3.min.js"></script>
		<script src="/js/topojson.v1.min.js"></script>
		<script src="/js/map.js"></script>

		
		<script src="/js/controller.js"></script>

		<% include ./footer %>

</body>
</html>