@font-face {
	font-family: europa;
	src: url('../assets/Europa-Regular.otf');
}

@font-face {
	font-family: europa-light;
	src: url('../assets/Europa-Light.otf');
}

body {
	padding-top: 60px;
}

div {
	font-family: europa;
}

svg {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	border-radius: 7px;
	background-color: rgb(242, 250, 255);
}

/*bootstrap overrides*/

.jumbotron {
	padding: 15px 15px;
	background-color: #fafafa;
}

.alert {
	margin-left: 30px;
	margin-right: 30px;
}

/*end bootstrap overrides*/

.dropdown-menu-form {
	padding: 5px 10px 5px;
}

.data-container {
	border-bottom: 2px solid #FF6138;
}
.sub-data-container {
	background-color: #f0f0f0;
}

.city {
	fill: #FF6138;
}

.city-label {
	font-family: europa-light;
	font-size: 10px;
	pointer-events:none;
}

.datalabel {
	text-align: center;
	color: #FF6138;
}

.sub-datalabel {
	text-align: center;
	color: #bbb;
	font-size: 8px;
	padding-bottom: 3px;
}

.background {
	fill: none;
	border-style: solid;
	border-width: 2px;
	border-color: #b4b;
}


/*Sign in stylesheets*/

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
	margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="email"]{
	margin-bottom: 10px;
}

.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
	margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 11px;
}
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}
.search-result-container{
	z-index:5;
	position:absolute;
	background-color: white;
	padding: 10px 15px 10px;
}
ul.search-result-container{
	list-style: none;
	margin-top: 4px;
	border-radius: 4px;
	box-shadow: 5px 5px 5px #aaa;
}
.search-result{
	cursor:pointer;
}