@font-face {
	font-family: europa;
	src: url('../assets/Europa-Regular.otf');
}

@font-face {
	font-family: europa-light;
	src: url('../assets/Europa-Light.otf');
}

div {
	font-family: europa;
}

.city {
	fill: #FF6138;
}

.city-label {
	font-family: europa-light;
	font-size: 10px;
}

.datalabel {
	color: #b3b;
}

.navbar {
	border-bottom: 2px #FF6138;
}

.thin-line {
	border-bottom: thick #FF6138;
	color: #FF6138;
}

.city .city-label {
	pointer-events: none;
}

.background {
	fill: none;
	border-style: solid;
	border-width: 2px;
	border-color: #b4b;
}

