@font-face {
	font-family: europa;
	src: url('../assets/Europa-Regular.otf');
}

@font-face {
	font-family: europa-light;
	src: url('../assets/Europa-Light.otf');
}

body {
	padding-top: 60px;
}

div {
	font-family: europa;
}

svg {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}

.dropdown-menu-form {
	padding: 5px 10px 5px;
}

.jumbotron {
	padding: 15px 15px;
}

.data-container {
	border-bottom: 2px solid #b3b;
}

.city {
	fill: #FF6138;
}

.city-label {
	font-family: europa-light;
	font-size: 10px;
	pointer-events:none;
}

.datalabel {
	text-align: center;
	color: #b3b;
}

.sub-datalabel {
	text-align: center;
	color: #bbb;
	font-size: 8px;
	padding-bottom: 3px;
}

.background {
	fill: none;
	border-style: solid;
	border-width: 2px;
	border-color: #b4b;
}

